.dashboardheader {
  display: flex;
  justify-content: flex-end;
}

.dashboardheader > a {
  border: 1px solid rgb(7 116 220);
  padding: 5px;
  background-color: #ffffff;
  border-radius: 5px;
  color: rgb(7 116 220);
  font-size: 14px;
  font-weight: 500;
}

.heading {
  font-size: 16px;
  color: rgb(7 116 220);
  padding: 10px 5px;
  background: rgb(255 255 255);
  margin-top: 10px;
}
